### Zappy
/gui/modules/

### WASM
*.wasm

### Rust & Cargo
target/
Cargo.lock
bindings.rs

### Zig
.zig_cache/
zig_out/

### C

### Go
libs/**/local_zappy_*/
libs/**/wit_world/
wit_exports.go
wit_bindings.go
go.mod
go.sum
